.status {
  margin-bottom: 10px;
}

.square {
  float: left;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}